{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Hello Home </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A itaque deserunt officia esse earum accusantium optio mollitia quibusdam, voluptatibus asperiores illum magnam, nemo laboriosam dolores quae odio libero consequatur impedit.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/login/"> 
                    Iniciar Sesion
                </a>
                <a class="btn btn-primary" href="/signup/">
                    Registrarse
                </a>
            </div>
        </section>
    </main>
{% endblock %}
